body{
	margin: 0;
  padding: 0;
  background-color: #ffee58;
}
.no-margin{
  margin: 0!important;
}
.no-padding{
  padding: 0 !important;
}

nav{
  height: 84px !important;
}
.brand-logo{
  width: 29%;
}
.logo-img{
  width: 30% !important;
  margin-left: 10%;
}
.nav-icons{
  font-size: 30px !important;
  margin-left: 30px;
}
#nav-mobile{
  margin-right: 8%;
  margin-top: 0.5%;
}
.explore{
  width: 20%;
  height: 100%;
}

.main-body{
  margin-top: 5vh;
}
.main{
  background-color: rgba(0,0,0,0.2);
}
.post-toolbar{
  width: 100%;
}
.icon-post{
  width: 32.9%;
  margin: 10px 0;
}
.fav-title{
  width: 100%;
  padding: 5%;
  color: #FFFFFF;
  background-color: black;
}
.links{
  margin-left: 10px;
  height: 20px;
}
section nav ul a{
  padding: 0 !important;
  color: #000;
}
.nav-links{
  height: 115px !important;
}
